.Rproj.user
.Rhistory
.RData
.Ruserdata
log-stat-rank-vs-freq.png
rerelevant.xlsx
logarithmin-term-freq.png
relevant2.csv
relevant3.csv
relevant4.csv
rerelevant.csv
solving pdf.ocrf
unigram.csv
README.html
unigram_idf.csv
bigramas_idf.csv
trigramas_idf.csv
tetragramas_idf.csv
