.Rproj.user
.Rhistory
.RData
.Ruserdata
log-stat-rank-vs-freq.png
rerelevant.xlsx
logarithmin-term-freq.png
relevant2.csv
relevant3.csv
relevant4.csv
rerelevant.csv
solving pdf.ocrf
unigram.csv
README.html
unigram_idf.csv
bigramas_idf.csv
trigramas_idf.csv
tetragramas_idf.csv
WordCloud_TfIdf.png
.RData2.RData
.RDataTmp
Last-operational.RData
gameassocs.csv
librariassocs.csv
wordcloud-ordered.png
fist_bigram_assoc.csv
second_bigram_assoc.csv
Rplot.png
plot-unigram-connect.png
Rplot01.png
Rplot02.png
Bigram-Dendrogram.png
Dendrogram-ward-1.png
third_bigram_assoc.csv
Bigram-dtm2-Dendrogram.png
Dendrogram-dtm2-.79.pdf
Bigram-dtm2-Dendrogram.xcf
New_York_assoc.csv
Hong_Kong_assoc.csv
